/* Acá va tu código */
body {
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../src/img/pexels-photo-327472.jpeg); 
  text-align: center;
}
header{
  color: aliceblue;
  text-align: center;
  font-size: x-large;
  margin: 1%;
  text-shadow: rgb(185, 160, 160) 2px 3px 4px;
}
.lista {
  text-align: justify;
}
input{
  text-align: center;
  font-size: large;
  opacity: 0.6;
  background: #f3f2f1;
  width: 4%;
}
.section_code{
  text-align: center;
}
textarea{
  opacity: 0.5;  
  background:  rgb(250, 231, 225); 
  resize: none;
}
button{
  font-size: 80%;
  width: 12%;
  opacity: 0.7;
  color: rgb(110, 74, 74);
  font-weight: bold; 
  border-radius: 7px;
  padding: 0.5%;
  text-align: center;
}
button:hover{
  background: #957560;
  color: white;
}
p{
  text-align: center;
}
#root{
  display: inline-block;
  text-align: center;
  width: 40%;
  color: black;
  text-align: center;
  opacity: 0.6; 
  background: #e6cccc;
  font-size: large;
  margin: 1%;
}
