/* Acá va tu código */
body {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../src/img/pexels-photo-327472.jpeg)
}

header{
    color: aliceblue;
    text-align: center;
    font-size: x-large;
    margin: 1%;
    text-shadow: rgb(170, 140, 173) 2px 3px 4px;
}

#code{
    background: radial-gradient(rgb(245, 231, 223),#957560);
    text-align: center;
    width: 40%;
    float: left;
    margin-left: 8%;
    margin-right: 0.5%; 
}

textarea{
  opacity: 0.5;  
  background:  rgb(250, 231, 225); 
}

#decode{
    background: radial-gradient(rgb(245, 231, 223),#957560);
    text-align: center;
    width: 40%;
    float: left;
    margin-right: 5%;
    margin-left: 0.5%;
}

button{
    font-size: 100%;
    float: right;
    padding: 2%;
    width: 25%;
    opacity: 0.5;
    color: rgb(110, 74, 74);
    margin: 2% 2% 2%; 
    font-weight: bold; 
    
}

button:hover{
    background: #957560;
    color: white;
}

p{
    text-align: center;
    font-size: larger;
    margin: 4%;
}

.mnsj{
    display: inline-block;
    width: 35%;
    color: rgb(28, 28, 71); 
    border: black solid;
}

.encode {
    font-weight: bold;
    color: black;
    margin: 2% 3% 1% 10%;
    opacity: 0.5;
    background: rgb(113, 161, 123)
}

.deco {
    font-weight: bold;
    color: white;
    margin: 2% 5% 1% 2%;
    opacity: 0.5;
    background: rgb(113, 161, 123);
    
}
